@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:root {
  --fs-100: clamp(0.31rem, 0.01vw + 0.3rem, 0.32rem);
  --fs-200: clamp(0.38rem, 0.05vw + 0.36rem, 0.42rem);
  --fs-300: clamp(0.48rem, 0.11vw + 0.44rem, 0.56rem);
  --fs-400: clamp(0.6rem, 0.2vw + 0.52rem, 0.75rem);
  --fs-500: clamp(0.75rem, 0.33vw + 0.63rem, 1rem);
  --fs-600: clamp(0.94rem, 0.53vw + 0.74rem, 1.33rem);
  --fs-700: clamp(1.17rem, 0.81vw + 0.87rem, 1.78rem);
  --fs-800: clamp(1.46rem, 1.2vw + 1.01rem, 2.37rem);
  --fs-900: clamp(1.83rem, 1.77vw + 1.17rem, 3.16rem);
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;
  --lh-3xs: 1;
  --lh-xxs: 1.125;
  --lh-xs: 1.25;
  --lh-s: 1.375;
  --lh-m: 1.5;
  --lh-l: 1.625;
  --lh-xl: 1.75;
  --lh-xxl: 1.875;
  --lh-3xl: 2;
  --ls-xs: -0.05em;
  --ls-s: -0.025em;
  --ls-m: 0;
  --ls-l: 0.025em;
  --ls-xl: 0.05em;
  --ls-xxl: 0.1em;
  --clr-primary-red: hsl(0, 100%, 74%);
  --clr-primary-green: hsl(154, 59%, 51%);
  --clr-accent: hsl(248, 32%, 49%);
  --clr-neutral-dark: hsl(249, 10%, 26%);
  --clr-neutral-medium: hsl(246, 25%, 77%);
  --clr-neutral-light: white;
  --clr-neutral-tone: hsl(0, 0%, 97%);
  --space-xxs: calc(0.1 * (8px + 1.5625vw));
  --space-xs: calc(0.25 * (8px + 1.5625vw));
  --space-s: calc(0.5 * (8px + 1.5625vw));
  --space-m: calc(8px + 1.5625vw);
  --space-l: calc(1.5 * (8px + 1.5625vw));
  --space-xl: calc(2 * (8px + 1.5625vw));
  --space-xxl: calc(3 * (8px + 1.5625vw));
  --space-3xl: calc(4 * (8px + 1.5625vw));
  --space-4xl: calc(6 * (8px + 1.5625vw));
  --space-5xl: calc(8 * (8px + 1.5625vw));
  --measure-compact: 20ch;
  --measure-medium: 35ch;
  --measure-longform: 65ch;
  --br-xxs: 0.125rem;
  --br-xs: 0.25rem;
  --br-s: 0.375rem;
  --br-m: 0.5rem;
  --br-l: 0.75rem;
  --br-xl: 1rem;
  --br-xxl: 1.5rem;
  --br-none: 0rem;
  --br-full: 100%;
  --boxshadow: 0 0.6em 0 0 #df6d6d;
}

/*** GLOBAL STYLING ***/

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
li,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../src/assets/images/bg-intro-desktop.png");
  background-color: var(--clr-primary-red);
  color: var(--clr-neutral-light);
  min-height: 100vh;
  display: grid;
  place-content: center;
  width: 85%;
  margin: auto;
}

[class$="info"] {
  display: grid;
  place-content: center;
  gap: 2rem;
  margin-block-start: 5rem;
}
[class$="info"] > h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-600);
  text-align: center;
  line-height: 1.3em;
}
[class$="info"] > p {
  font-size: var(--fs-600);
  text-align: center;
  letter-spacing: var(--ls-l);
}
[class$="banner"] {
  margin-block: 1.5rem;
  background-color: var(--clr-accent);
  color: var(--clr-neutral-medium);
  text-align: center;
  padding-block: 1rem;
  padding-inline: 4rem;
  border-radius: var(--br-l);
  box-shadow: var(--boxshadow);
}
[class$="banner"] > span {
  text-transform: capitalize;
  font-weight: var(--fw-600);
  font-size: var(--fs-700);
  color: var(--clr-neutral-light);
}
.signup-banner > span {
  font-size: var(--fs-600);
}

[class$="hero"] {
  background-color: var(--clr-neutral-light);
  border-radius: var(--br-l);
  color: var(--clr-neutral-dark);
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  box-shadow: var(--boxshadow);
  margin-block-end: 3rem;
}

[class$="footer"] {
  padding-inline: 3rem;
  padding-block-start: 0;
  padding-block-end: 1rem;
  text-align: center;
  color: var(--clr-neutral-medium);
  font-size: var(--fs-400);
  line-height: var(--lh-3xl);
  text-wrap: pretty;

  & span {
    color: var(--clr-primary-red);
    font-weight: var(--fw-700);
    &:hover {
      cursor: pointer;
    }
  }
}

[class$="text"] {
  font-size: var(--fs-600);
  color: var(--clr-neutral-dark);
  text-align: center;
  padding: 2rem;
  padding-block-end: 0.5rem;
}

[class$="form"] {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  padding-block-end: 0.75rem;
  & p {
    font-size: var(--fs-400);
    color: var(--clr-neutral-medium);
  }
}

.verifyemail-form {
  justify-content: center;
  padding-block-start: 1rem;
  gap: 1.5rem;
}

[class$="form-item"] {
  padding: 1rem;
  border: 0.05rem solid var(--clr-neutral-medium);
  border-radius: var(--br-s);
  caret-color: var(--clr-accent);
  &:focus {
    border: 0.1rem solid var(--clr-accent);
  }
}

.verifyemail-form-item {
  width: var(--space-xl);
  height: var(--space-xl);
  border: 0.1rem solid var(--clr-neutral-medium);
  border-radius: var(--br-s);
  text-align: center;
}

[class$="form-item-icon"] {
  font-size: var(--fs-500);
  color: var(--clr-primary-red);
  padding: 1rem;
  border-radius: var(--br-s);
  background-image: url("./assets/images/icon-error.svg");
  background-position: 95% center;
  background-repeat: no-repeat;
  border: 0.1rem solid var(--clr-primary-red);
}

[class$="error"] {
  font-size: var(--fs-600) !important;
  text-align: center;
  color: var(--clr-primary-red) !important;
  text-transform: uppercase;
}
.signup-error {
  font-size: var(--fs-400) !important;
  font-style: italic;
  text-align: end;
  text-transform: lowercase;
  margin-top: -0.75rem;
}
[class$="success"] {
  font-size: var(--fs-600) !important;
  text-align: center;
  color: var(--clr-primary-green) !important;
  text-transform: uppercase;
}

[class$="button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-neutral-light);
  text-transform: uppercase;
  background-color: var(--clr-primary-green);
  min-height: 30px;
  padding: 1rem;
  font-weight: var(--fw-500);
  letter-spacing: var(--ls-xl);
  border-radius: var(--br-s);
  &:hover {
    cursor: pointer;
    background-color: hsl(154, 59%, 40%);
  }
}

.verifyemail-digitwrapper {
  display: grid;
  justify-self: center;
  max-width: fit-content;
  grid-auto-flow: column;
  gap: 0.5rem;
}

.dashboard-cardwrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.dashboard-card {
  background-color: var(--clr-neutral-tone);
  padding: 1rem;
  border-radius: var(--br-m);
  & h2 {
    color: var(--clr-accent);
    font-size: var(--fs-600);
    font-weight: var(--fw-600);
    line-height: 2;
  }
  & p {
    font-size: var(--fs-500);
    font-weight: var(--fw-400);
    & span {
      font-weight: var(--fw-500);
    }
  }
}

@media (min-width: 800px) {
  [class$="wrapper"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .verifyemail-digitwrapper {
    gap: 0.5rem;
  }
  .dashboard-cardwrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  [class$="info"] > p,
  [class$="info"] > h1 {
    text-align: start;
  }
  [class$="hero"] {
    margin-block-end: 0;
  }
}
